<section class="navs">
  <div class="new_breath">
    <button type="submit" class="btn btn_new">New Deep Breathing Benefit</button>
  </div>
  <div class="breath-benefit">
    <a href="/benefits"><button type="submit" class="btn btn_new">Deep Breathing Benefits</button></a>
  </div>
</section>

<div class="card">
  <h3 class="card_header">Add New Breath Relaxation Benefit</h3>
  <form class="card_body add_breath_form" id="add_breath_form">
    <label for="breath_name" class="form-label">Title</label>
    <input type="text" id="breath_name" name="post_breath" class="form-input" />

    <label class="form-label" for="content">Content</label>
    <textarea
      id="content"
      rows="5"
      name="content"
      class="form-input"
    ></textarea>

    <button type="submit" class="btn btn_add_breath">Create</button>
  </form>
</div>

<script src="/js/addBreath.js"></script>