/* Default styles */
:root {
    --background_color: #a499b3;
    --secondary_color: #d0bcd5;
    --teriary_color: #745c9782;
    --text_color: rgb(177, 80, 11);
    --link_color: rgb(211, 166, 43);
    --card_background: rgb(232, 224, 219);
  }
  
  a {
    color: var(--text_color);
    text-decoration: none;
    padding: 3px;
  }
  
  a:hover {
    color: var(--link_color);
  }
  
  body {
    color: var(--text_color);
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0%;
  }
  
  .half-circle {
    margin-top: 40px;
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    margin-left: 15px;
    width: calc(100vw - 150px);
    height: calc(100vh - 120px); /* Adjusted height */
    border-bottom-left-radius: 50%; /* Use border-bottom-left-radius */
    border-bottom-right-radius: 50%; /* Use border-bottom-right-radius */
    z-index: -1; /* Move the half circle behind other content */
    background-color: #d0bcd5; /* Background color of the half circle */
  }
  
  header {
    background-color: var(--teriary_color);
  }
  
  .health_nav {
    position: fixed;
    top: 5px;
    right: 10px;
  }
  
  h1 {
    font-size: xxx-large;
    font-weight: 600;
    padding: 15px;
    text-shadow: 10px 10px 25px var(--background_color),
    -10px 10px 25px var(--background_color),
    -10px -10px 25px var(--background_color),
    10px -10px 25px var(--background_color);
    border-bottom: 4px solid var(--link_color);
    margin-bottom: 20px;
  }
  
  .carousel {
    margin-top: 150px;
  }
  
  .hero_carousel {
    margin-top: 10%;
    align-content: center;
  }
  
  .hero_carousel_img {
    max-height: 400px;
    width: auto;
    opacity: 0.8;
  }
  
  .hero_carousel_img:hover {
    opacity: 0.9;
  }
  
  footer {
    background-color: var(--teriary_color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
  }
  
  
  .card{
    margin-top: 20%;
  }
  
  #cardid{
    margin-top: 10px;
  }
  
  .navs {
    margin-left: 0;
    display: flex;
    gap: 60%; 
    padding-bottom: 30px;
    max-width: 100vw;
  }
  
  
  .btn_new {
    width: 100%; /* Ensures the button takes the full width of its container */
    font-size: 1.5em; /* Ensures the font size of the button text is increased */
  }
  
  .new_breath, .breath-benefit {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Adds transition effect */
  }
  
  .new_breath:hover, .breath-benefit:hover {
    transform: scale(1.05); /* Slightly increases the size on hover */
    background-color: #f0f0f0; /* Changes the background color on hover */
  }
  /* :root {
    --background: #c9e2c9a9;
    --light: #ffffff;
    --light-grey: #b7aeb7;
    --dark: #000000;
    --border-radius: 0.5rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header {
    background-color: var(--dark);
  }
  
  a {
    text-decoration: none;
  }
  
  .health_title {
    font-size: 3rem;
    background-color: var(--background);
    margin: 10px 10px 10px 50px;
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-grey);
  }
  
  .health_header {
    width: 100%;
    margin: 15px 0 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .health_menu {
    margin: 0 0 0 50px;
    color: var(--light);
  }
  
  body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  
  p,
  h3 {
    margin: 0;
  }
  h1 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
    border: 2px solid var(--dark);
  }
  
  .form_input {
    font-size: 20px;
  }
  
  .card_header {
    display: flex;
    flex-direction: column;
    color: var(--light-grey);
    background-color: var(--dark);
    padding: 0 0 0 20px;
    margin: 0;
  }
  
  .card_body {
    padding: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .btn {
    color: var(--light);
    background-color: var(--light-grey);
    border-radius: var(--border-radius);
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  } */
  